<h2>here goes a list of books. Possibly with a tiny map under each of them to show their location</h2>

<h1>Index</h1>
<div class="row">

  <ul class="row index-page">
    <% books.forEach((book) => { %>
      <div class="col-lg-4 index-books">
      <li class="six columns">
      <div>  <a href="/books/<%= book.id %>"><img class="index-image" src="<%= book.image %>"></a></div>
      <a href="/books/<%= book.id %>"><h3><%= book.title %></h3></a>
      <h4><%= book.author %></h4>

      </div>



      </li>
      <% }); %>
    </ul>
  </div>
</div>
