<h3> Where's my book at?</h3>
<div class="row show-row">
  <div class="show-image"><img src="<%= book.image %>"></div>
  <div class="book-info col-lg-4">
      <h2 data-title="<%= JSON.stringify({title: book.title} ) %>" data-location="<%= JSON.stringify({lat: book.locations[book.locations.length - 1].lat, lng: book.locations[book.locations.length - 1].lng } ) %>"><%= book.title %></h2>

    <h2><%= book.author %></h2>
    <p><%= book.description %></p>
    <p>Created by:<%= book.createdBy.username %></p>
    <div class="col-lg-4">
      <% if(locals.isAuthenticated && book.belongsTo(user)) { %>
        <a href="/books/<%= book.id %>/edit">Update</a>
        <form method="POST" action="/books/<%= book.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete</button>
        </form>
        <% } %>
      </div>


    </div>
    <div class="col-lg-4" id="map" data-lat="51.515113" data-lng="-0.072051"></div>
  </div>
  <div class="row">

    <div class="col-lg-4 show-row">
      <h5> Detailed description of its location
      </h5>

      <p><%= book.locationDesc %></p>

    </div>
    <div class="col-lg-4 comment-box-main">
      <% if(locals.isAuthenticated) { %>
        <section>
        <form method="POST" action="/books/<%= book.id %>/comments">
        <textarea name="content" id="content" placeholder="Comment"></textarea>
        <button class="button">Leave a comment</button>
        </form>
        </section>
        <% } %>

        <section>
          <h4>Comments</h4>
          <% book.comments.forEach((comment) => { %>
            <p><%= comment.content %></p>
            <small><%= comment.createdBy.username %></small>

            <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>
              <form method="POST" action="/books/<%= book.id %>/comments/<%= comment.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button>Delete</button>
              </form>
              <% } %>
              <% }) %>
            </section>
          </div>
        </div>
      </div>

    </div>
  </div>
