<%# please dont kill me didnt have time to indent properly%>
<h3> Where's my book at?</h3>
<div class="row show-row">
  <div class="row">
    <div class="col-lg-4">
      <div class="show-image"><img src="<%= book.image %>"></div>
       <h2 data-title="<%= JSON.stringify({title: book.title} ) %>" data-location="<%= JSON.stringify({lat:  book.locations[book.locations.length - 1].lat, lng: book.locations[book.locations.length - 1].lng } ) %>"><%=  book.title %></h2>
       <h2><%= book.author %></h2>
       <p><%= book.description %></p>
       <p>Created by:<%= book.createdBy.username %></p>
       <% if(locals.isAuthenticated && book.belongsTo(user)) { %>
        <a href="/books/<%= book.id %>/edit">Update</a>
        <form method="POST" action="/books/<%= book.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="button-show">Delete</button>
        </form>
        <% } %>
      </div>
      <div class="col-4-lg">
        <div id="map" data-lat="51.515113" data-lng="-0.072051"></div>
        <div class="coordinates">
          <p>Where has it been already?</p>
          <% for (var i = 0; i < book.locations.length; i++){ %>
            <div class='google-cor'><p><%= `${book.locations[i].lat},${book.locations[i].lng};` %></p></div>
            <% }; %>
          </div>
          <h5> Detailed description of its location</h5>
          <p><%= book.locationDesc %></p>
          <div class="col-lg-4 comment-box-main">
            <% if(locals.isAuthenticated) { %>
              <section>
              <form method="POST" action="/books/<%= book.id %>/comments">
              <textarea name="content" id="content" placeholder="Comment"></textarea>
              <button class="button-show">Comment</button>
              </form>
              </section>
              <% } %>
              <div class="col-lg-3">
                <section>


                  <h4>Comments</h4>
                  <% book.comments.forEach((comment) => { %>
                    <p><%= comment.content %></p>
                    <small><%= comment.createdBy.username %></small>

                    <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>
                      <form method="POST" action="/books/<%= book.id %>/comments/<%= comment.id %>">
                      <input type="hidden" name="_method" value="DELETE">
                      <button class="button-show">Delete</button>
                      </form>
                      <% } %>
                      <% }) %>
                    </section>
  </div>
</div>
